<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de ocorrência</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>

    <div class="box-body" [formGroup]="formGroup">
        <div class="row">
            <div class="col-xs-12">
                <label>Descrição</label>
                <textarea type="text" formControlName="description" rows="6" maxlength="1000"
                  placeholder="Descreva a ocorrência" class="form-control"></textarea>
                  <span *ngIf="formGroup.get('description').hasError('required') && formGroup.get('description').touched"
                  class="help-block">Campo obrigatório</span>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <button class="btn btn-primary" (click)="save()" [disabled]="formGroup.invalid" >{{'Salvar'}}</button>
                </div>
            </div>
        </div>
    </div>

</div>